{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h3 align="center">Ajouter new Article</h3>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}">back to list</a>
{% endblock %}
